---
import { getEntry, render } from "astro:content";
import PostLayout from "../layouts/PostLayout.astro";

const post1 = await getEntry("blog", "a-bite-of-cookie");
if (!post1) {
  throw new Error("Post not found: a-bite-of-cookie");
}

const { Content, headings } = await render(post1);
---

<PostLayout>
  <br />
  headings:
  <ul>
    {
      headings.map((v: { slug: string }) => {
        return <li>{v.slug}</li>;
      })
    }
  </ul>
  <br />
  <Content />
</PostLayout>
